[submodule "dotbot/dotbot"]
	path = dotbot/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot/plugins/dotbot-apt-get"]
	path = dotbot/plugins/dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get
